.section {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.card {
  width: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.title {
  display: flex;
  width: fit-content;
  margin: 0 auto 30px auto;
  color: #1890ff !important;
}

.panels {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.panel-row {
  display: flex;
  gap: 16px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

@media (width <= 768px) {
  .section {
    width: 95vw;
  }

  .panel-row {
    flex-direction: column;
  }
}
