.section {
  display: flex;
  width: 80vw;
  margin: 0px auto;
}

.card {
  width: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  width: fit-content;
  margin: 0px auto 30px auto;
  color: #1890ff !important;
}

.url-line {
  width: 100%;
}

.select {
  min-width: 120px;
}
